extends layout

block content
  section(class="p-2 sm:w-3/5") 
    div(class="flex flex-col sm:flex-row w-full bg-d-cl rounded p-3 items-center justify-between shadow-md gap-4 sm:gap-0")
      h2(class="heading") Messages
      if currentUser 
        h3(class="mb-4 sm:mb-0") 
          a(href="/new" class="button") New Message
    div 
      if messages.length > 0
        each message in messages
          div(class="bg-d-cl my-4 p-4 rounded shadow-md")
            h3(class="text-xl text-d-pink")= message.title
            hr(class="my-3")
            p= message.body
            div(class="bg-d-cl py-2 rounded my-2 pl-2 shadow-md border-l-[0.7rem] border-d-comment flex flex-col sm:justify-start sm:gap-4 sm:flex-row px-2 italic")
              if currentUser
                if currentUser.isMember || currentUser.isAdmin || currentUser._id.toString() === message.author._id.toString()
                  p
                    a(href=`/users/${message.author._id}` class="link text-d-cyan") #{message.author.username}
                  p= message.createdAt.toLocaleString()
                else 
                  p Become a member to view who posted this message
              else 
                p 
                  a(href="/users/signup" class="link") Sign Up 
                  | or  
                  a(href="/users/login" class="link") Login
                  | to view who posted this message
            if currentUser && (currentUser.isAdmin || currentUser._id.toString() === message.author._id.toString())
              form(action="/delete", method="post") 
                input(type="hidden" name="messageId" value=message._id)
                button(type="submit" class="button-red") Delete
      else 
        h3(class="bg-d-cl my-4 p-4 rounded shadow-md text-xl") No messages yet :(
