extends layout 

block content 
  if currentUser
    h1= title
    h2 #{user.firstName} #{user.lastName}
    section   
      h3 Messages
      if userMessages.length > 0
        div 
          each message in userMessages
            h4= message.title
            p= message.body
            p= message.createdAt
            if currentUser && (currentUser.isAdmin || currentUser._id.toString() === message.author._id.toString())
              form(action="/delete", method="post") 
                input(type="hidden" name="messageId" value=message._id)
                button(type="submit") Delete
      else 
        div 
          if currentUser
            p You have no messages.
          else 
            p #{user.username} has no messages.
  else 
    h3 You can not view user profiles. Insufficient permissions. 
